*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(239, 207, 238);
    color:white;
    font-family:'Poppins',sans-serif;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:80px;
    background-color: rgb(129, 5, 114);

}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(238, 112, 236);
}
main hr{
    border: 0;
    background: #b066b8;
    height: 1.2px;
    margin: 60px 84px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:120px 0;
    color: black;
}
.firstSection > div{
    width: 40%;
}
.leftSection{
    font-size: 2rem;
   
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding:12px;
    background-color: #b066b8;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection img{
    width: 80%;
    margin: 50px 0;
}
.purple{
    color: rgb(161, 75, 231);
}
.text-gray{
    color:rgb(248, 120, 231);
}
#element{
    color: rgb(161, 75, 231);
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    color: rgb(107, 52, 158);
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.image-top{
    width: 30px;
    position: relative;
    top: -40px;
    left: -9px;
}
.vertical-title{
    position: relative;
    top:50px;
    width: 150px;
}
.vertical-desc{
    position: relative;
    top:50px;
    color: white;
    width: 150px;
    font-size:12px;
}
footer{
    background-color:rgb(218, 39, 218);
}
.footer{
    display: flex;
    padding:23px 70px;
    justify-content: space-evenly;
}
.footer > div{
    width:223px;
}
footer .footer-rights{
    text-align: center;
    color:rgb(134, 5, 97);
    padding:12px;
}



